<div class="w-4/6 p-4 bg-blue-200">


    <app-one-friend></app-one-friend>
    <!-- Input de saisie de l'ami -->
    <input 
        type="text" 
        #inputAmi
        (input)="onInputChange($event)" 
        placeholder="Entrez un nom" 
        class="p-2 border rounded w-full my-2">

    <!-- Affichage en direct de la saisie -->
    <p>Vous êtes en train de taper : <strong>{{ saisieAmi }}</strong></p>

    <!-- Bouton d'ajout -->
    <button (click)="ajouterAmi(inputAmi)" class="px-4 py-2 bg-green-500 text-white rounded">
        Ajouter Ami
    </button>

    <!-- Message d'ajout -->
    <p>{{ messageAmi }}</p>

    
    
</div>
